<sa-header>
  <sa-title></sa-title>
  <sa-action>
    <li class="pad-rgt"> <app-add-content-btn></app-add-content-btn> </li>
  </sa-action>
</sa-header>
<!--===================================================-->
<!--END NAVBAR-->

<sa-body>
  <sa-body-content>
    <div class="row">
      <div class="col-sm-12">
        <div *ngIf="timeline.Entries != null" class="timeline">
          <div class="timeline-entry" *ngFor="let entry of timeline.Entries">
            <div class="timeline-stat">
              <div class="timeline-icon"></div>
              <div class="timeline-time">{{entry.DateStart}}</div>
            </div>
            <div class="timeline-label">
              <div *ngIf="entry.Files.length > 0" class="img-holder mar-btm"> <img alt="Image" src="{{entry.Files[0].FileURL}}"> </div>
              <p><a href="javascript:void(0)" (click)="showDetail(entry)" class="text-main btn-link text-semibold"><i class="fa fa-heart text-muted"></i> {{entry.Name}}</a> <a class="pull-right btn-link text-semibold" routerLink="/log/{{timeline.Id}}">Alan</a></p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </sa-body-content>
  <sa-body-right-content>
    <sa-manage-entry></sa-manage-entry>
  </sa-body-right-content>
  <sa-aside></sa-aside>
</sa-body>
<!-- FOOTER -->
<!--===================================================-->
<sa-footer></sa-footer>

