
<!-- BACKGROUND IMAGE -->
<!--===================================================-->
<div id="bg-overlay"></div>


<!-- REGISTRATION FORM -->
<!--===================================================-->
<div class="cls-content">
    <div class="cls-content-sm panel">
        <div class="panel-body">
            <div class="mar-ver pad-btm">
                <h3 class="h4 mar-no">Welcome to Riza!</h3>
                <p class="text-muted mar-top">Create an account to start your own personal and family log or join an existing Riza community. </p>
            </div>
            <form action="pages-login.html" (ngSubmit)="registerUser(f)" #f="ngForm">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" ngModel name="email" placeholder="E-mail" name="email">
                        </div>
                    </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" ngModel name="username" placeholder="Username">
                            </div>
                        </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="password" class="form-control" ngModel name="password" placeholder="Create password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" ngModel name="confirmpass" placeholder="Re-type password">
                        </div>
                    </div>
                </div>
                     <div class="mar-ver text-left text-sm">
                       <i>The fine print: by creating an account, you agree to our <a href="#" class="btn-link">Terms and Conditions.</a></i>
                     </div>
                <button class="btn btn-primary btn-block" type="submit">Register</button>
            </form>
        </div>
        <div class="pad-all">
            Already have an account ? <a routerLink="/login" class="btn-link mar-rgt">Sign In</a>
        </div>
    </div>
</div>
<!--===================================================-->
