@media (min-width: 769px){
    #content-container {
        padding-left: 220px;
        left:0px !important;
    }
}
@media(max-width:1200px){
    #content-container{
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        left:0px;
    }
}