<!-- BACKGROUND IMAGE -->
<!--===================================================-->
<div id="bg-overlay"></div>


<!-- LOGIN FORM -->
<!--===================================================-->
<div class="cls-content">
    <div class="cls-content-sm panel">
        <div class="panel-body">
            <div class="mar-ver pad-btm">
              <h3 class="h4 mar-no">Riza</h3>
              <p class="text-muted">Create new password.</p>
            </div>
            <form action="index.html" (ngSubmit)="createNewPassword(f)" #f="ngForm">
                <div class="form-group">
                    <input type="password" class="form-control" ngModel name="password" placeholder="Enter new password" autofocus>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" ngModel name="confirm_password" placeholder="Confirm new password">
                </div>
                <div class="checkbox pad-btm text-left">
                    <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox">
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Reset Password</button>
            </form>
        </div>


    </div>
</div>
<!--===================================================-->
