<sa-header>
  <sa-title></sa-title>
  <sa-action>
    <li class="pad-rgt"> <a href="javascript:void(0)" > Owned by {{(this.auth.currentUser.Nickname == '')?this.auth.currentUser.FirstName+' '+this.auth.currentUser.LastName:this.auth.currentUser.LastName}} </a> </li>
  </sa-action>
</sa-header>

<sa-body>
  <sa-body-content>
    <app-profile
            [manualControls]="true"
            [formBusy]="formBusy"
            [editMode]="true"
            [newAccount]="true"
            (profileUpdated)="profileCreated($event)"
            (profileUpdating)="profileCreating($event)"
            [title]='title'
    ></app-profile>
  </sa-body-content>
  <sa-body-right-content>
    <sa-manage-entry></sa-manage-entry>
  </sa-body-right-content>
  <sa-aside></sa-aside>
</sa-body>
<!-- FOOTER -->
<!--===================================================-->
<sa-footer></sa-footer>
