<sa-header>
  <sa-title></sa-title>
  <sa-action>
    <li class="pad-rgt" (click)="asideToggle()"> <a href="javascript:void(0)"> <em class="fa fa-fw fa-plus"></em> Add Content </a> </li>
  </sa-action>
</sa-header>
<!--===================================================-->
<!--END NAVBAR-->

<sa-body>
  <sa-body-content>
    <button type="button" (click)="showMap()"> Show Map </button>
    <sebm-google-map *ngIf="showmap" [latitude]="lat" [longitude]="lng" [zoom]="15" style="height: 700px;">
      <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    </sebm-google-map>
  </sa-body-content>
  <sa-body-right-content>
    <sa-add-entry></sa-add-entry>
  </sa-body-right-content>
  <sa-aside></sa-aside>
</sa-body>
<!-- FOOTER -->
<!--===================================================-->
<sa-footer></sa-footer>

