/* IMPORTANT :
* ===================================================================================================
* DON'T EDIT ANY CODE HERE, JUST LEAVE IT.
*
* You may edit the default color scheme.
* You may change the variable value inside the _variables.LESS file and re-compiling using this file.
*
* If you make changes directly in the CSS and/ or LESS-files from Nifty,
* it will be hard to update if I release an update. So I would recommend to create a new CSS/ LESS-file for this purpose.
*/

#container.cls-container .cls-brand .brand-icon .brand-icon-text-img,
#container.cls-container .cls-brand .brand-title {
  background-color: transparent;
  color: inherit;
  float: none;
  display: inline-block;
  line-height: 22px;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  vertical-align: middle;
  width: auto;
}


.brand-title,
.brand-icon,.brand-icon-text-img {
  display: block;
  line-height: 40px;
}


.brand-icon-text-img {
  height: 40px;
  float: left;
  margin: 0 5px;
}

.top-bar-widget li{
  display: table-cell;
  padding: 0 12px;
  vertical-align: middle;
  height: 40px;
  color: #758697;
  transition: all 0.4s;
  line-height:3;
}
@media(max-width: 767px){
#container #aside-container {
  top:40px;
  max-width:100%;
}

}
.datepicker {
  min-height: 28px;
}
.carousel-indicators {
  z-index: 1;
}
#mainnav-container {
  z-index: 999;
}
.selectimge {
  list-style: none;
  float: left;
  margin-right: 5px;
}
.selectimge img {
  max-width: 100px;
}
.wide {
  width: 100%;
}
@media (max-width:400px){
  .select2-container {
    width:100% !important;
  }
}


@media (max-width: 767px) {
  .popover-content {
    margin-top: auto !important;
    text-align: center;
    display: none !important;
  }

}

