<sa-header>
  <sa-title></sa-title>
  <sa-action>
    <li class="pad-rgt" (click)="asideToggle()"> <a href="javascript:void(0)"> <em class="fa fa-fw fa-plus"></em> Add Content </a> </li>
  </sa-action>
</sa-header>
<!--===================================================-->
<!--END NAVBAR-->

<sa-body>
  <sa-body-content>
    <div class="row">
      <div class="spacer"></div>
      <div  class="col-lg-6">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-control">
              <ul class="pager pager-rounded">

              </ul>
            </div>
            <h3 class="panel-title">
              Create new log
            </h3>

          </div>


          <!--Hover Rows-->
          <!--===================================================-->
          <div class="panel-body">


            <table class="table table-hover table-vcenter">
              <thead>
              <tr>
                <th>
                  <form (submit)="create(f)" #f="ngForm">
                    <input type="text" class="input_text" ngModel name="Name" placeholder="Enter New Log Name Here.." required>
                    <button type="submit" class="btn btn-info mar-lft">Save</button>
                    <div class="spacer"></div>
                  </form>
                </th>
              </tr>
              </thead>
            </table>
          </div>
          <!--===================================================-->
          <!--End Hover Rows-->

        </div>
      </div>


      <br>
    </div>

  </sa-body-content>
  <sa-body-right-content>
    <sa-manage-entry></sa-manage-entry>
  </sa-body-right-content>
  <sa-aside></sa-aside>
</sa-body>
<!-- FOOTER -->
<!--===================================================-->
<sa-footer></sa-footer>
