.btn-group-justified.cutoms>.btn, .btn-group-justified.cutoms>.btn-group {
    display: block;
    float: left;
    width: 33.33%;
}
.btn.active, .btn {
    border:none !important;
}
.btn-group-justified.cutoms > .btn {
    height:99px;
}
.btn.btn-active-highlight img:focus {
    outline: none;
}