<sa-header>
  <sa-title></sa-title>
  <sa-action>
    <li class="pad-rgt"> <app-add-content-btn></app-add-content-btn> </li>
  </sa-action>
</sa-header>
<!--===================================================-->
<!--END NAVBAR-->

<sa-body>
  <sa-body-content>
    <div class="row" *ngIf="post.Files.length > 0">
      <div class="col-sm-12">

        <!--Carousel-->
        <!--===================================================-->
        <div id="demo-carousel" class="carousel slide" data-ride="carousel">

          <!--Indicators-->
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <ol class="carousel-indicators in pad-btm">
            <li class="active" *ngFor="let file of post.Files" data-target="#demo-carousel"></li>
          </ol>

          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

          <div class="carousel-inner text-center">
            <!--Item 1-->
            <div class="item active" *ngFor="let file of post.Files">
              <div class="thumbnail"> <img src="{{file.FileURL}}" alt="Image"> </div>
            </div>
          </div>

          <!--carousel-control-->
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <a class="carousel-control left" data-slide="prev" href="#demo-carousel"><i class="text-light demo-pli-arrow-left icon-4x"></i></a>
          <a class="carousel-control right" data-slide="next" href="#demo-carousel"><i class="text-light demo-pli-arrow-right icon-4x"></i></a>
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        </div>
        <!--===================================================-->
        <!--End Carousel-->


      </div>


    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-trans">
          <div class="panel-heading">
            <h3 class="panel-title"><em class="fa fa-globe pad-rgt"></em>{{post.Name}}<span class="pull-right text-thin">{{user.FirstName}} {{user.LastName}}</span> </h3>
          </div>
          <div class="panel-body">
            <p class="text-lg pad-btm">{{post.About}}</p>
            <p><strong>What else? </strong> {{post.WhatElse}}.</p>
            <p><strong>Location: </strong> <span class="text-primary">{{post.Location}}</span> <i class="fa fa-map-marker pad-ver text-primary"></i></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6">
        <div class="panel panel-trans">
          <div class="panel-heading">
            <h3 class="panel-title">Relationships</h3>
          </div>
          <div class="panel-body">
            <p class="mar-top"><strong>Who: </strong>#Pam</p>
            <hr class="new-section-xs bord-no">                  <div> <span class="pull-right text-primary">{{post.CloseToOthers}}%</span> <span class="mar-ver">{{user.Nickname}} felt close to others</span> </div>
            <div class="progress progress-l mar-top bg-white">
              <div class="progress-bar bg-primary" data-toggle="tooltip" data-original-title="67%" style="width: {{post.CloseToOthers}}%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-trans">
          <div class="panel-heading">
            <h3 class="panel-title">About Me</h3>
          </div>
          <div class="panel-body">
            <p class="mar-top"><strong>Me: </strong>#happy #loved #healthy</p>
            <hr class="new-section-xs bord-no">
            <div class=""> <span class="pull-right text-info">{{post.BestSelfRating}}%</span> <span class="mar-ver">Best me</span> </div>
            <div class="progress progress-l mar-top bg-white">
              <div class="progress-bar bg-info" data-toggle="tooltip" data-original-title="95%" style="width: {{post.BestSelfRating}}%"></div>
            </div>
            <hr class="new-section-xs bord-no">
            <div class="btn-group-justified">
              <a href="javascript:void(0)" data-toggle="button" class="btn btn-md btn-active-highlight pad-top"><img class="img-sm" src="assets/img/emoji-excited.png" alt="thumbs"> <p>excited</p></a>
              <a href="javascript:void(0)" data-toggle="button" class="btn btn-md btn-active-highlight pad-top"><img class="img-sm" src="assets/img/emoji-fantastic.png" alt="thumbs"> <p>fantastic</p></a>
              <a href="javascript:void(0)" data-toggle="button" class="btn btn-md btn-active-highlight pad-top"><img class="img-sm" src="assets/img/emoji-great.png" alt="thumbs"> <p>grateful</p></a>
            </div>

            <!--Tag Buttons-->
            <!--===================================================-->
            <!--                <button class="btn mar-btm mar-rgt btn-success">#happy</button>
                            <button class="btn mar-btm mar-rgt btn-success">#loved</button>
                            <button class="btn mar-btm mar-rgt btn-success">#healthy</button>-->
            <!--===================================================-->

          </div>
        </div>
      </div>


    </div>
  </sa-body-content>
  <sa-body-right-content>
    <sa-manage-entry></sa-manage-entry>
  </sa-body-right-content>
  <sa-aside></sa-aside>
</sa-body>
<!-- FOOTER -->
<!--===================================================-->
<sa-footer></sa-footer>

