<sa-header>
    <sa-title></sa-title>
    <sa-action>
        <li class="pad-rgt"> <a href="javascript:void(0)" > Profile </a> </li>
    </sa-action>
</sa-header>
<!--===================================================-->
<!--END NAVBAR-->

<sa-body>
    <sa-body-content>
        <app-profile [user]="auth.currentUser" (profileUpdated)="profileUpdated($event)" ></app-profile>

        <app-profile
                *ngFor="let user of managedUsers"
                    [user]="user"
                    [managedProfile]="true"
                    (profileUpdated)="managedUserProfileUpdated($event)"
        ></app-profile>
    </sa-body-content>
    <sa-body-right-content>
        <sa-manage-entry></sa-manage-entry>
    </sa-body-right-content>
    <sa-aside></sa-aside>
</sa-body>
<!-- FOOTER -->
<!--===================================================-->
<sa-footer></sa-footer>
