<sa-header>
    <sa-title></sa-title>
    <sa-action>
        <li class="pad-rgt"> <a href="javascript:void(0)" > </a> </li>
    </sa-action>
</sa-header>
<!--===================================================-->
<!--END NAVBAR-->

<sa-body>
    <sa-body-content>
        <h3>Update Credentials</h3>
        <form (submit)="updateCredentials(credentials_form)" #credentials_form="ngForm">
            <input type="text" ngModel name="Email" placeholder="Enter new email address" class="form-control input-lg mar-btm" required="required">
            <input type="password" ngModel name="Password" placeholder="Enter new password" class="form-control input-lg mar-btm"  required="required">
            <input type="submit" value="Update">
        </form>
        <hr>
        <app-profile [user]="auth.currentUser" (profileUpdated)="profileUpdated($event)" ></app-profile>

        <app-profile
                *ngFor="let user of managedUsers"
                    [user]="user"
                    [managedProfile]="true"
                    (profileUpdated)="managedUserProfileUpdated($event)"
        ></app-profile>
    </sa-body-content>
    <sa-body-right-content>
        <sa-manage-entry></sa-manage-entry>
    </sa-body-right-content>
    <sa-aside></sa-aside>
</sa-body>
<!-- FOOTER -->
<!--===================================================-->
<sa-footer></sa-footer>
