.post-type-panel,
.mood-type-panel{
    overflow: hidden;
}

.post-type-panel label,
.mood-type-panel label{
    float: left;
    width: 33.3%;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0px;
    border: 2px solid #ffffff;
}

.post-type-panel label input,
.mood-type-panel label input{
    visibility: hidden;
    position: absolute;
    left:0px;
    top:0px;
}

.post-type-panel label img{
    width: 50px;
}

.mood-type-panel label img{
    width: 30px;
    margin-bottom: 4px;
}

.post-type-panel label span,
.mood-type-panel label span{
    display: block;
    font-size: 12px;
    color: #888;
}

.post-type-panel label:hover span,
.post-type-panel label.active span,
.mood-type-panel label:hover span,
.mood-type-panel label.active span{
    color: #000;
}

.post-type-panel label.active,
.mood-type-panel label.active{
    background: #F2F2F2;
}

.widget-tabs-contr{
    overflow: hidden;
}

.post-type-panel .type-definitions{
    display: none;
}

.show_definitions label{
    display: table;
    width: 100%;
    text-align: left;
}

.show_definitions .type-left{
    text-align: center;
}

.show_definitions .type-left,
.show_definitions .type-definitions{
    display: table-cell;
    vertical-align: top;
    padding: 10px;
    font-size: 12px;
}

.sebm-google-map-container {
    height: 150px;
}
#post-images {
    position: absolute;
    opacity:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.fileinput-button {
    position: relative;
}