.category-images{
    width:50px;
    height: auto;
}

.post-type-panel,
.mood-type-panel,
.cate-widget{
    overflow: hidden;
}
.btn.active {
    border:none;
}
.post-type-panel label,
.mood-type-panel label,
.cate-widget label,
.tags-widget label{
    float: left;
    width: 33.3%;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0px;
    border: 2px solid #ffffff;
}

.cate-widget label,
.tags-widget label{
    padding:15px 5px;
}

.post-type-panel label input,
.mood-type-panel label input,
.cate-widget label input,
.tags-widget label input{
    visibility: hidden;
    position: absolute;
    left:0px;
    top:0px;
}

.post-type-panel label img{
    width: 50px;
}

.mood-type-panel label img{
    width: 30px;
    margin-bottom: 4px;
}

.post-type-panel label span,
.mood-type-panel label span,
.tags-widget label span,
.cate-widget label span{
    display: block;
    font-size: 12px;
    color: #888;
}

.post-type-panel label:hover span,
.post-type-panel label.active span,
.mood-type-panel label:hover span,
.mood-type-panel label.active span,
.cate-widget label.active span,
.cate-widget label:hover span,
.tags-widget label:hover span,
.tags-widget label.active span{
    color: #000;
}

.post-type-panel label.active,
.mood-type-panel label.active,
.cate-widget label.active,
.tags-widget label.active{
    background: #F2F2F2;
}

.widget-tabs-contr{
    overflow: hidden;
}

.post-type-panel .type-definitions{
    display: none;
}

.show_definitions label{
    display: table;
    width: 100%;
    text-align: left;
}

.show_definitions .type-left{
    text-align: center;
}

.show_definitions .type-left,
.show_definitions .type-definitions{
    display: table-cell;
    vertical-align: top;
    padding: 10px;
    font-size: 12px;
}

.sebm-google-map-container {
    height: 150px;
}

.dropdown-header{
    overflow: hidden;
}