<sa-header>
  <app-header-stripe *ngIf="rcs.aside_in">
    <app-left-action>
      <app-right-aside-closer>Cancel</app-right-aside-closer>
    </app-left-action>
    <app-right-action>

    </app-right-action>
  </app-header-stripe>
  <sa-action>
    <li class="pad-rgt"> <app-add-content-btn></app-add-content-btn> </li>
  </sa-action>
</sa-header>
<!--===================================================-->
<!--END NAVBAR-->

<sa-body>
  <sa-body-content>
    <div class="row">
      <app-log [timeline]="timeline"></app-log>
    </div>
  </sa-body-content>
  <sa-body-right-content>
    <sa-manage-entry #manageEntryComponent
                     (EntryCreated)="timelineUpdated($event)"
                     (EntryUpdated)="timelineUpdated($event)"
            [seletedTimelines]="(timeline.Id == '')?[myPrivateTimeline.Id]:[myPrivateTimeline.Id, timeline.Id]"></sa-manage-entry>
  </sa-body-right-content>
  <sa-aside></sa-aside>
</sa-body>
<!-- FOOTER -->
<!--===================================================-->
<sa-footer></sa-footer>

