.pad-ver figure{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
}
.panel-head{
    padding: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f3f3f3;
}

.panel-head h3 {
    color: #344a61;
    font-size:22px;
}

.panel-head .demo-panel-ref-btn,
.panel-head span{
    font-size: 16px;
    padding:0px;
    display: inline-block;
    vertical-align: middle;
}
.panel-head .demo-panel-ref-btn{
    padding-left: 10px;
    color: #394f65;
}

.panel-head .panel-control{
    padding-right:0px;
}
.panel-head span {
    color: #c5ccd3;
}
.panel-head h3 {
    margin:0px;
}

.pro-image{
    margin-bottom: 40px;
}

.pro-content{
    padding-bottom: 30px;
}

.pro-content label {
    display: block;
    margin-bottom: 30px;
    font-size: 16px;
    color: #344a61;
}

.pro-content label .color-box{
    width: 20px;
    height:20px;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 414px){
    .panel-head h3 {
        font-size:16px;
    }
    .panel-head .demo-panel-ref-btn,
    .panel-head span{
        font-size:12px;
    }
    .pro-content label {
        font-size:12px;
        margin-bottom: 20px;
    }
    .pro-content label strong,
    .pro-content label span{
        display: block;
    }
}