<div *ngIf="editMode && loggedInUsrCanEdit()" class="row">
  <div class="col-lg-12">
    <div class="panel">

      <form id="demo-bvd-notempty" action="#" class="form-horizontal" (submit)="createProfile(f)" #f="ngForm" [ngClass]="{'form-busy': formBusy == true}">
        <div class="panel-heading">
          <div class="panel-control">
            <button type="submit" class="demo-panel-ref-btn btn btn-default" data-target="#demo-panel-ref" data-toggle="panel-overlay"> <i class="fa fa-share fa-fw"></i> {{getAction()}} </button>
          </div>
          <h3 class="panel-title">{{getTitle()}} Profile</h3>
        </div>

        <div class="panel-body">
          <div class="text-center pad-ver">
            <figure (click)="chooseFile($event)">
              <img alt="Avatar" class="img-lg img-circle img-border-aquamarine mar-btm" [src]="(selectedThumbnail != '')?selectedThumbnail:((user.ImageURL == '' || user.ImageURL == undefined)?appService.default_user_profile_pic:user.ImageURL)">
            </figure>
            <p class="text-sm">Add photo <input id="{{photo_chooser_id}}" style="display: none;" type="file" (change)="filesSelected($event)"></p>
          </div>
          <br>

          <div class="new-account-section" *ngIf="newAccount">
            <p class="text-main text-bold">Account Info</p>
            <input type="email" placeholder="Email Address"  [ngModel]="newUser.email" required="required" name="email" class="form-control input-lg">
            <hr class="new-section-xs bord-no">
            <input type="text" placeholder="Password"  [ngModel]="newUser.password" required="required" name="password" class="form-control input-lg">
            <hr class="new-section-xs bord-no">
          </div>
          <p class="text-main text-bold">Name</p>
          <input type="text" placeholder="First name" class="form-control input-lg" [ngModel]="user.FirstName" name="FirstName" required>
          <br>
          <input type="text" placeholder="Last name" class="form-control input-lg"  [ngModel]="user.LastName" name="LastName" required>
          <br>
          <!--                <hr class="new-section-xs bord-no"> -->
          <input type="text" placeholder="Profile name / nickname"  [ngModel]="user.NickName" required="required" name="NickName" class="form-control input-lg">
          <hr class="new-section-xs bord-no">
          <p class="text-main text-bold">Birthday</p>

          <!--Bootstrap Datepicker : Component-->
          <!--===================================================-->
          <div id="demo-dp-component">
            <div class="input-group date">
              <input required
                     type="text"
                     class="form-control datepicker"
                     [ngModel]="user.DateBirthDay"
                     name="DateBirthDay">
              <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span> </div>
            <small class="text-muted">Your birthday is used to build your timeline.</small> </div>
          <!--===================================================-->

          <hr class="new-section-xs bord-no">
          <p class="text-main text-bold">Location / address</p>
          <input type="text" placeholder=" " class="form-control input-lg"  [ngModel]="user.address" name="address" id="demo-is-inputlarge">
          <hr class="new-section-xs bord-no">
          <p class="text-main text-bold">Color</p>
          <div class=" mar-btm">
            <input type="hidden" [(ngModel)]="user.Color" name="Color">
            <button type="button" class="btn btn-{{user.Color}} fa fa-check pad-all mar-rgt"> </button>
            <button type="button" class="btn btn-default" data-toggle="modal" [attr.data-target]="'#'+color_picker_modal_id">Select Color</button>
          </div>
        </div>
      </form>
      <div id="{{color_picker_modal_id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Choose Color</h4>
            </div>
            <div class="modal-body">
              <div class="chose-color">
                <label  *ngFor="let option of colors" class="btn-{{option}}">
                  <input #color type="radio" value="{{option}}" [(ngModel)]="user.Color" name="myColor" (click)="colorPicked($event)">
                  {{option}}
                </label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="editMode == false" class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-head">
        <div class="panel-control">

          <!-- Todo:Decide how to check who is managing this user. -->
          <span>Managed by {{user.FirstName}} {{user.LastName}}</span>
          <button *ngIf="loggedInUsrCanEdit()" class="demo-panel-ref-btn btn btn-default" type="button" (click)="enterEditMode()"> <i class="fa fa-pencil fa-fw"></i> Edit </button>
        </div>
        <h3>Profile</h3>
      </div>
      <div class="text-center pro-image">
        <figure>
          <img alt="Avatar" class="img-lg img-circle img-border-aquamarine mar-btm" [src]="(selectedThumbnail != '')?selectedThumbnail:((user.ImageURL == '')?appService.default_user_profile_pic:user.ImageURL)">
        </figure>
      </div>
      <div class="text-center pro-content">
        <label>
          <strong>Name</strong>
          <span>{{user.FirstName}} {{user.LastName}}</span>
        </label>
        <label>
          <strong>Nick Name</strong>
          <span>{{user.NickName}}</span>
        </label>
        <label>
          <strong>Birthday</strong>
          <span>{{user.DateBirthDay}}</span>
        </label>
        <label>
          <strong>Location</strong>
          <span>{{user.address}}</span>
        </label>
        <label>
          <strong>Color</strong>
          <span class="color-box btn-{{user.Color}}"></span>
        </label>
      </div>
    </div>
  </div>
</div>