<sa-header>
  <sa-title></sa-title>
  <sa-action>
    <li class="pad-rgt"> <a href="javascript:void(0)" > Create Profile </a> </li>
  </sa-action>
</sa-header>
<!--===================================================-->
<!--END NAVBAR-->

<sa-body>
  <sa-body-content>
    <app-profile
            [user]="auth.currentUser"
            [manualControls]="true"
            [editMode]="editMode"
            (profileUpdating)="profileUpdating($event)"
            [formBusy]="formBusy"
            (profileUpdated)="profileUpdated($event)"
            (someThingWentWrong)="someThingWentWrong($event)"
    ></app-profile>
  </sa-body-content>
  <sa-body-right-content>
    <sa-manage-entry></sa-manage-entry>
  </sa-body-right-content>
  <sa-aside></sa-aside>
</sa-body>
<!-- FOOTER -->
<!--===================================================-->
<sa-footer></sa-footer>
