<sa-header>
    <sa-title></sa-title>
    <sa-action>
        <li class="pad-rgt"> <a href="javascript:void(0)" > Profile </a> </li>
    </sa-action>
</sa-header>
<!--===================================================-->
<!--END NAVBAR-->

<sa-body>
    <sa-body-content>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">

                    <form id="demo-bvd-notempty" action="m-add-profile.html" class="form-horizontal" (submit)="createProfile(f)" #f="ngForm">


                        <div class="panel-heading">
                            <div class="panel-control">
                                <button type="submit" class="demo-panel-ref-btn btn btn-default" data-target="#demo-panel-ref" data-toggle="panel-overlay"> <i class="fa fa-share fa-fw"></i> {{getAction()}} </button>
                            </div>
                            <h3 class="panel-title">{{getTitle()}} Profile</h3>
                        </div>

                        <div class="panel-body">
                            <div class="text-center pad-ver"> <img alt="Avatar" class="img-lg img-circle img-border-aquamarine mar-btm" src="assets/img/profile-photos/profile-default.png">
                                <p class="text-sm">Add photo</p>
                            </div>
                            <br>
                            <p class="text-main text-bold">Name</p>
                            <input type="text" placeholder="First name" class="form-control input-lg" [ngModel]="user.FirstName" name="FirstName" id="demo-is-inputlarge">
                            <br>
                            <input type="text" placeholder="Last name" class="form-control input-lg"  [ngModel]="user.LastName" name="LastName" id="demo-is-inputlarge">
                            <br>
                            <!--                <hr class="new-section-xs bord-no">
            -->
                            <input type="text" placeholder="Profile name / nickname"  [ngModel]="user.Nickname" required="required" name="Nickname" class="form-control input-lg" id="demo-is-inputlarge">
                            <hr class="new-section-xs bord-no">
                            <p class="text-main text-bold">Birthday</p>

                            <!--Bootstrap Datepicker : Component-->
                            <!--===================================================-->
                            <div id="demo-dp-component">
                                <div class="input-group date">
                                    <input type="text" class="form-control"  [ngModel]="user.DateBirthDay" name="DateBirthDay">
                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span> </div>
                                <small class="text-muted">Your birthday is used to build your timeline.</small> </div>
                            <!--===================================================-->

                            <hr class="new-section-xs bord-no">
                            <p class="text-main text-bold">Location / address</p>
                            <input type="text" placeholder=" " class="form-control input-lg"  [ngModel]="user.address" name="address" id="demo-is-inputlarge">
                            <hr class="new-section-xs bord-no">
                            <p class="text-main text-bold">Color</p>
                            <div class=" mar-btm">
                                <input type="hidden" [ngModel]="user.Color" name="Color">
                                <button type="button" class="btn btn-{{user.Color}} fa fa-check pad-all mar-rgt"> </button>
                                <button type="button" class="btn btn-default" (click)="chooseColor(f)">Select Color</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </sa-body-content>
    <sa-body-right-content>
        <sa-manage-entry></sa-manage-entry>
    </sa-body-right-content>
    <sa-aside></sa-aside>
</sa-body>
<!-- FOOTER -->
<!--===================================================-->
<sa-footer></sa-footer>
