<sa-header>
  <app-header-stripe>
    <app-left-action>

    </app-left-action>
    <app-right-action>
      <button class="saveBtn" (click)="createProfile()">Add</button>
    </app-right-action>
  </app-header-stripe>
  <sa-action>

  </sa-action>
</sa-header>
<!--===================================================-->
<!--END NAVBAR-->

<sa-body>
  <sa-body-content>
    <app-profile #profile
            [user]="auth.currentUser"
            [manualControls]="true"
            [editMode]="editMode"
            (profileUpdating)="profileUpdating($event)"
            [formBusy]="formBusy"
            (profileUpdated)="profileUpdated($event)"
            (someThingWentWrong)="someThingWentWrong($event)"
                 [title]="title"
    ></app-profile>
  </sa-body-content>
  <sa-body-right-content>
    <sa-manage-entry></sa-manage-entry>
  </sa-body-right-content>
  <sa-aside></sa-aside>
</sa-body>
<!-- FOOTER -->
<!--===================================================-->
<sa-footer></sa-footer>
