<sa-header>

  <sa-action>

  </sa-action>
</sa-header>
<!--===================================================-->
<!--END NAVBAR-->

<sa-body>
  <sa-body-content>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel">
          <form (submit)="invite(f)" #f="ngForm">
            <div class="panel-heading">
              <div class="panel-control">
                <ul class="pager pager-rounded">
                </ul>
              </div>
              <div class="panel-heading">
                <div class="panel-control">

                </div>
                <h3 class="panel-title">Invite others to join this log</h3>
              </div>
            </div>
            <!--Hover Rows-->
            <!--===================================================-->
            <div class="panel-body">
              <div class="mar-ver">
                <p class="text-main text-bold mar-no">Add from the directory</p>
                <p>Invite someone that already uses Riza to join this log.</p>
                <div class="input-group mar-btm col-xs-12 col-md-4">
                  <!--===================================================-->
                  <select class="invite-users-multi-select" multiple style="width: 300px;" ngModel name="users">

                  </select>
                  <!--===================================================-->
                </div>
              </div>

              <p class="text-main text-bold">Or, enter an email address</p>
              <!--                                  <p>Enter the email address of the person you would like to invite.</p>
              -->                                  					                  <div class="input-group mar-btm col-xs-12 col-md-3">
              <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Enter email">
            </div>
              <div class="input-group mar-btm col-xs-12 col-md-4">

                <a type="button" class="btn btn-info" (click)="previewEmail()">Preview Email Invite</a>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Send Invitation</h4>
                      </div>
                      <div class="modal-body">
                        <div class="user-info clearfix">

                        <div class="u-img"><img src="assets/img/profile-photos/profile-default.png" alt=""></div>
                        <div class="u-name">
                            <strong>{{email}}</strong>
                        </div>
                        </div>
                        <p >
                          They will see this message when your request is sent
                        </p>
                        <textarea style="height: 150px; border:solid 1px #ddd; padding:6px; border-radius:4px" [(ngModel)]="InviteMessage" name="InviteMessage" >
                          Please join my log
                        </textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!--===================================================-->
            <!--End Hover Rows-->
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-control">
              <ul class="pager pager-rounded">
              </ul>
            </div>
            <h3 class="panel-title">Add someone to this log by creating a profile for them.</h3>
          </div>

          <!--Hover Rows-->
          <!--===================================================-->
          <div class="panel-body">
            <p class="text-main text-bold">Instead of inviting someone to create their own profile, you can create one for them. This is a great way to go for pets, children, people who have died, or members of your family or friends who are kind of busy or just dropped their phone in the lake.</p>
            <p> Once you create this person’s profile, you can add content for them too. Since you’ll be the manager of this profile, when other log members suggest content for them, you will be the one to review and add those posts. </p>
            <p> When you create a profile, you can invite someone to start managing their own profile right away, when they turn 13, or anytime.  You also can transfer the management of this profile to another member of your log. </p>
            <a class="btn btn-info" routerLink="/log/{{timeline.Id}}/invite-users/managed">Create Managed Profile</a>
          </div>
        </div>
      </div>
    </div>
  </sa-body-content>
  <sa-body-right-content>
    <sa-manage-entry></sa-manage-entry>
  </sa-body-right-content>
  <sa-aside></sa-aside>
</sa-body>
<!-- FOOTER -->
<!--===================================================-->
<sa-footer></sa-footer>

